/*RESETS and GENERAL STUFF*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif ;
    font-weight:400;
}
*:focus{
    outline: none;
}

html{
    scroll-behavior: smooth;
}
thead th{
    padding: 1rem;
    font-weight: 600;
    background: #f0f0f0;
}
table{
    text-align: center;
    margin: 2rem 0;
    border: 1px solid #f1f1f1
}
table tbody tr:nth-of-type(odd){
    background: #f8f8f8;
    border-bottom: 1px solid #f1f1f1
}
table tr td{
    padding: 1rem
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper:nth-of-type(even){
    background: white
}
.wrapper:nth-of-type(odd){
    background: #f8f8f8
}
.container{
    width: 100%;
    max-width:1600px;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: rgb(60, 167, 113);
    text-decoration: underline;
}
strong,b{
    font-weight: 600;
}
p{
    font-size: 1.1rem;
    line-height: 1.7;
}
header{
    background-color: rgb(248, 248, 248);   
    padding: 2rem;
}

h1{
    font-size: 2.3rem;
    margin: 2rem 0;
    margin-bottom: 3.5rem;
    font-weight: 800;
    color: rgb(51, 51, 51)
}
h2{
    font-size: 1.8rem;
    line-height: 1.8;
    font-weight: 800;
    color: rgb(58, 58, 58)
}
ul{
    list-style-type: circle;
    padding: 1rem 1.5rem ;
    line-height: 1.6;
    margin-left: -.2rem;
}
li{
    color:  rgb(17, 155, 118);
}

#calculator{
    width: 100%;
    max-width: 1080px;
    margin: 1.5rem 0;
}
.calculator-block{
    width:100%;
}
.calculator-title{
    background-color: rgb(16, 143, 109);
    width: 100%;
    padding: 1rem;
    font-weight: 00;
    font-size: 1.1rem;
    color: white;
}
.fa-undo{color: white}
#reset{
    cursor: pointer;
    padding: 0.7rem;
    margin: 1rem 0 1.5rem 0;
    border: 0;
    border-radius: .4rem;
    background-color: rgb(17, 167, 126);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.15);
}
#calculator-input,#calculator-output{
    margin: 1.5rem 0;
    background-color: rgb(24, 195, 150);
    border-radius: .3rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.08)
}
.calculator-sublock{
    width: 90%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
}
.calculator-sublock:last-of-type{
    border-bottom-left-radius: .3rem;
}
.calculator-sublock-input{
    display: inline-block;
    text-align: end;
    max-width: 70%;
}

#fat-units,#height-units, #weight-units{
    text-decoration: underline;
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: white;
    color: rgb(1, 99, 112);
    font-size: .9rem;
    margin-left: 1.2rem;
}
select{
    border: none;
    padding:0 0.8rem;
}
#height,#weight,#fat{
    border: none;
    font-size: 1rem;
    max-width: 60%;
}

@media only screen and (max-width: 461px){
    h1{font-size:1.8rem}
    header{
        padding: 1.8rem;        
    }
    .calculator-sublock-input{
        text-align: end;
        max-width: 70%;
    }
    .calculator-title{
        font-size: .9rem;
    }
    label{
        font-size: .85rem;
    }
    #height,#weight,#fat{
        max-width: 30%;
    }
    #fat-units,#height-units, #weight-units{
        margin-left: .2rem;
    }
    #table-of-contents{
        margin-top: 2rem;
    }
}

mark{
    background-color: #eeeeee;
    font-weight: 600;
    padding: .2rem
}
@media screen and (min-width: 1100px){
    h1{
        font-size: 3rem;
        margin-bottom: 1rem
    }
    header{
        background: linear-gradient(109deg, rgb(19, 134, 103) ,rgb(9, 85, 65) 30rem, #fff 10px );
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 4.9rem;
    } 
    #header-container{
        max-width: 70%;
        margin-left: 35rem;
    }
    .wrapper:nth-of-type(even){
        background: linear-gradient(to right, #f8f8f8 33%, white 0%);
    }
    .wrapper:nth-of-type(odd){
        background: linear-gradient(to left,#f8f8f8 67%, white 0%);
    }
    #calculator{
        position: fixed;
        top: 4.8rem;
        left: 5rem;
        width: 40%;
        transition: 0.1s linear
    }
    #table-of-contents{
        margin-top: 1.8rem;
    }
    .container{
        display: flex;
        justify-content: flex-end;
    }
    .sub-container{
        width: 47%;
        max-width: 47%;
    }
}
@media screen and (min-width: 1600px){
    #header-container{
        max-width: 70%;
        margin-left: 40em;
    }
    #calculator{
        left: 10%;
    }
    header{
        background: linear-gradient(109deg, rgb(19, 134, 103) ,rgb(9, 85, 65) 50rem, #fff 10px );
    }
    #height,#weight,#fat{
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 3000px){
    header{
        background: linear-gradient(109deg, rgb(19, 134, 103) ,rgb(9, 85, 65) 70rem, #fff 10px );
    }
    #calculator{
        left: 12%;
    }
}
@media screen and (min-width: 4000px){
    header{
        background: linear-gradient(109deg, rgb(19, 134, 103) ,rgb(9, 85, 65) 90rem, #fff 10px );
    }
    #calculator{
        left: 22%;
    }
}
.fa-facebook-f,.fa-twitter,.fa-youtube{
    cursor: pointer;
}
.fa-facebook-f{
    border-radius: 2rem;
    color: rgb(37, 37, 119);
    border: 3px solid rgb(37, 37, 119);
    padding: .6rem .85rem;
    font-size: 1.5rem;
}
.fa-twitter{
    border-radius: 2rem;
    color: rgb(28, 192, 192);
    border: 3px solid rgb(28, 192, 192);
    padding: .6rem .6rem;
    font-size: 1.5rem;
}
.fa-youtube{
    border-radius: 2rem;
    color: rgb(212, 0, 0);
    border: 3px solid rgb(212, 0, 0);
    padding: .6rem .6rem;
    font-size: 1.5rem;
}
.button{
    padding: 1.2rem 2.2rem;
    background-color:rgb(17, 167, 126);
    border-radius: 2rem;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}


.no-style-list{
    list-style-type: none;
    margin-left: -1.4rem;
    font-size: 1.2rem
}
.fab{
    margin-right: 1rem;
}
#icons,#links{
    margin: 4rem 0;
}
ul.no-style-list a{
    text-decoration: none;
}
@media screen and (max-width: 400px){
    .button{
        font-size: 1rem;
    }
    #icons,#links{
        margin: 3rem 0;
    }
    .no-style-list{
        font-size: .95rem
    }
}
footer{
    display: flex;
    justify-content: center;
}
footer div.container{
    display: flex;
    flex-flow: column wrap;
}
@media screen and (min-width: 1000px){
    footer div.container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #links{
        width:45%
    }
    #links-group{
        display: flex;
        justify-content: space-between;
    }
    #links-groups div{
        margin-right: 1.5rem;
    }
   
}